@page "{nome_categoria}"
@using Atividade_06_Vitrine.Models
@using Atividade_06_Vitrine.Pages
@model CategoriaModel
@{
    ViewData["Title"] = Model.Categoria.Nome;
    Layout = "_Layout";
}

<div class="product-grid">
    @foreach (Produto produto in Model.Categoria.Produtos)
    {
        <div class="product-card">
            <img src="@produto.ImageURL" alt="@produto.Descricao">
            <h2>@produto.Descricao</h2>
            <p>Preço: R$ @produto.CalcularValorLiquido().ToString("0.00")</p>
        </div>
    }
</div>